include ../button/button.pug
include ../table/table.pug

append styles
  link(rel='stylesheet', href='../../components/main/main.less')
append skripts
  //- script(type='module', src='../../components/main/main.js')

append mixins
  mixin main(options = {})
    -
      options.class = options.class ? `main ${options.class}` : `main `;

    div()&attributes(options)&attributes(attributes)
      .main__schedule_editor
        h1='График работы предприятия'
        .main__interval_setter
          +table()
      .main__navigate_buttons
        +button({text:'Назад'})
        +button({text:'Далее',mod:'colored'})