body{
  color: #333333;
  background: #E5E5E5;
  font: 14px 'Fira Sans', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 97vh;

  --color-select : #0066FF;
  --color-shade : #DFE4EF; // #DFE4EF
  --color-warning : #FF238D;
}
main{
  color: #000000;
  flex: 1 0 auto;
}
footer, header{
  flex: 0 0 auto;
}
header{
  font-size: 15px;
}
footer{
  font-size: 14px;
}
h1{
  font-weight: 500;
  font-size: 22px;
  line-height: 108%;
}
h2{
  font-weight: 500;
  font-size: 13px;
}