include ../nav/nav.pug

append styles
  link(rel='stylesheet', href='../../components/header/header.less')
append skripts
  //- script(type='module', src='../../components/header/header.js')

append mixins
  mixin header()
    .header
      +nav()
