extends ../base/base.pug
include ../../components/footer/footer.pug
include ../../components/header/header.pug

block title
  title='График работы предприятия'
append header
  +header()
append main
append footer
  +footer()