append styles
  link(rel='stylesheet', href='../../../components/footer/footer.scss')
append skripts
  //- script(type='module', src='../../../components/footer/footer.js')

append mixins
  mixin footer()
    .footer
      .footer__left
        img()
        span(class= ``)=``
      .footer__right
        img()
        a(class= ``, href=`#`)=`Техническая поддержка`
