.table{
  &__buttons{
    &_container{
      display: flex;
      justify-content: flex-end;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 310px;
  }
  &__workspace{
    display: grid;
  }

}