table{
  width: 100%;
}
th{
  font-family: Fira Sans;
  font-size: 14px;
  line-height: 220%;
  text-align: left;
}
tr{
  height: 30px;
}
.table{

  &__buttons{
    &_container{
      display: flex;
      justify-content: flex-end;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 310px;
  }
  &__day_names{
    width: 40px;
  }
  &__items{
    width: 30px;
  }
  &__item{
    background-color: var(--color-shade , #DFE4EF);
    &-colored{
      background-color: var(--color-select , #0066FF);
    }
  }
  &__col{
    &-hidden{
      display: none;
    }

  }


}
